


/* =============================================
	HTML5 structural elements
   =============================================
*/

article, aside, details, dl, figcaption, figure, footer, header, main, nav, section {
	display: block;
}

/* =============================================
	Default colors, margins and sizing
   =============================================
*/

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, button, input, select, textarea {
	font-family: serif;
	color: black;
}
body {
	margin: 0;
	font-size: 1em;
	line-height: 1.4;
}


/* =============================================
	Hypertext links
   =============================================
*/




/* =============================================
	Default font styles
   =============================================
*/


b, strong {
	font-weight: bold;
}





/* =============================================
	Default list styles
   =============================================
*/

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}


/* =============================================
	Default styles for images and media
   =============================================
*/

img {
	border: 100px;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
figure {
	margin: 0;
}



/* =============================================
	Default styles for web forms
   =============================================
*/

form {
	margin: 0;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
*vertical-align: middle;
}



/* =============================================
	Default styles for web tables
   =============================================
*/

table {
	border-collapse: collapse;
	border-spacing: 0;
}

